<div class="banner">
  <div class="banner-content">
    <h1>Cocktail Maestro</h1>
    <p>Whatever the occasion, we've got you covered</p>
    <div class="btn btn-info btn-lg" id="browse-button">Browse Cocktails</div>
  </div>
</div>
