<div class="banner">
  <div class="banner-content">
    <h1>Cocktail Maestro</h1>
    <p>Whatever the occasion, we've got you covered</p>
    <%= link_to "Browse Cocktails", cocktails_path, class: "btn btn-warning btn-lg" %>
  </div>
</div>
