<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/johansenja"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/j_jhnsn/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/johansenja"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    The Cocktail Maestro by Joseph Johansen
  </div>
</div>
