.btn-space {
  margin: 0 30px;
  text-shadow: none;
}

.pencil-edit {
  color: $green;
  &:hover {
    &:after {
      content: " Edit this cocktail";
      font-family: 'ubuntu';
    }
  }
}

.trash-delete {
  color: $red;
  &:hover {
    &:after {
      content: " Delete this cocktail";
      font-family: 'ubuntu';
    }
  }
}

.arrow-back {
  color: $blue;
  &:hover {
    &:after {
      content: " Back";
      font-family: 'ubuntu';
    }
  }
}
